<div id="footer" class="container">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
      <div class="footer-left">
        Made By @youngmoon at UTF © 2015
      </div>
      <div class="footer-center">
        All about kimodyssey
      </div>
      <div class="footer-right">
        <a href="https://www.facebook.com/kimsodyssey" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="http://instagram.com/kimsodyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </nav>
</div>