<div id="footer" class="container">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
      <div class="footer-left">
        <span>Made By <a href="https://www.facebook.com/youngmoon91" id="youngmoon" >@youngmoon</a> at UTF © 2015</span>
      </div>
      <div class="footer-center">
        <a href="/about" id="goto-about-yunmi">All about kimsodyssey</a>
      </div>
      <div class="footer-right">
        <a href="https://www.facebook.com/kimsodyssey" target="_blank"><i class="fa fa-facebook-official"></i></a>
        <a href="http://instagram.com/kimsodyssey/" target="_blank"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
  </nav>
</div>