.msgBox-wrap {
    height: calc(100vh - 110px);
    background: #f2f2f2;
}

.msg-list-wrap {
    height: calc(100% - 50px);
}

.msg-input-wrap {
    height: 50px;
}

.msg-input {
    display: block;
    padding-left: 10px;
    width: calc(85% - 10px);
    height: 100%;
    float: left;
    outline: none;
    font-size: 20px;
    color: #aaa;
}

.msg-input-btn {
    width: calc(15% + 10px);
    float: left;
    height: 50px;
    font-size: 16px;
    color: white;
    background: #f4d4d4;
    line-height: 50px;
    cursor: pointer;
    text-align: center;
}

.msg-input-btn:hover {
  background: #ffd4d4;
}