<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Devartist</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li id="navbar-about"><a href="/about">About</a></li>
        <li id="navbar-status"><a href="/status">Status</a></li>
        <li id="navbar-gallery"><a href="/gallery">Gallery</a></li>
        <li id="navbar-upload"><a href="#" ng-click="openUpload()" ng-if="currentUser.role > 2">Upload</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-if="!currentUser"><a href="/join">Join</a></li>
        <li ng-if="!currentUser"><a href="/login">Login</a></li>
        <li ng-if="currentUser"><a href="#"> Hello, {{currentUser.username}}</a></li>
        <li ng-if="currentUser"><a href="#" ng-click="logout()">LogOut</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>