<div class="uploadDialog">
  <form enctype="multipart/form-data" action="/upload" method="post">
    <input type="file" name="uploadImage" id="upload-images" accept="image/*" onchange="loadFile(event);" style="display:none;"/>
    <button class="btn btn-default browse-btn">Browse</button>
    <img id="output"/>
    <button class="btn btn-primary upload-btn" type="submit" style="display: none;">Upload</button>
  </form>
</div>
<script>
  $('.browse-btn').click(function () {
    $('#upload-images').click();
  });

  function loadFile (event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    if (event.target.files[0]) {
      $('.upload-btn').css('display', 'inline-block');
    }
  }
</script>
