.home-title {
  text-align: center;
  padding: 5px 0 20px 0;
}

.home-title-text {
  font-size: 50px;
}

.carousel-control.left {
  width: 60px;
  background-image: none;
  color: #dddddd;
}

.carousel-control.right {
  width: 60px;
  background-image: none;
  color: #dddddd;
}

.slide-show {
  text-align: center;
  margin-bottom: 100px;
}

.home-slide {
  display: none;
  margin: 0 auto;
  width: 100%;
}

.home-slide img {
  width: 700px;
  height: auto;
}

.home-slide p {
  font-size: 20px;
  font-style: italic;
}

@media screen and (max-width: 550px) {
  .home-slide img {
    width: 95%;
  }
}