.home-title {
  text-align: center;
  padding: 5px 0 20px 0;
}

.home-title-text {
  font-size: 50px;
}

.carousel-control.left {
  width: 60px;
  background-image: none;
  color: #dddddd;
}

.carousel-control.right {
  width: 60px;
  background-image: none;
  color: #dddddd;
}

